.About1{
    font-family: "Roboto";
    text-align: center;
    background-color:white;
    padding:5px;
    border-radius: 7px;
    font-style: italic;
    /* margin-left:550px;
    margin-right:530px;
    margin-top:30px; */
}
.body-1{
    background-image:url("https://img.freepik.com/free-photo/stapler-eyeglasses-apple-laptop-beige-background_23-2148042089.jpg?t=st=1733210391~exp=1733213991~hmac=8aa7be1ec6042cd3052239253823a2df72c2d224b563a7276b038fd01f25a1e8&w=996");
    height:100vh;
    background-size:cover;
}
.About2{
    font-family: "Roboto";
    background-color: white;
    padding:5px;
    border-radius: 7px;
    font-style: italic;
    /* margin-left:550px;
    margin-right:530px;
    margin-top:20px;
    padding-left:10px; */
}
#About2-heading{
    text-align:center;
    font-family: 'Times New Roman';
}
.About3{
    font-family: "Roboto";
    text-align: center;
    padding:5px;
    background-color: white;
    border-radius: 7px;
    font-style: italic;
    /* margin-left:550px;
    margin-right:530px;
    margin-top:20px; */
}
.About4{
    font-family: "Roboto";
    text-align: center;
    background-color: white;
    padding:5px;
    border-radius: 7px;
    font-style: italic;
    /* margin-left:550px;
    margin-right:530px;
    margin-top:20px; */
}
.About5{
    font-family: "Roboto";
    padding:10px;
    background-color: white;
    padding:5px;
    border-radius: 7px;
    font-style: italic;
    /* margin-left:550px;
    margin-right:530px;
    margin-top:20px; */
}
.About-heading{
    text-align: center;
    color: red;
    font-weight: bold;
    font-family: 'Times New Roman';
    margin-top:95px;
}
li{
    list-style-type: none;
}
.custom-button1 {
    color: #ffffff;
    background-color:green;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }
  .custom-outline-button1 {
    color:white;
    background-color:#00d003;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color:#00d003 ;
    border-radius: 8px;
  }
  h3{
    font-family:'Times New Roman';
  }
  .munch-logo {
    width: 80px;
    height: 70px;
    border-radius: 100px;
  }
  #navItem1 {
    color: #323f4b;
    font-family: "Roboto";
  }
  #navItem2 {
    color: #323f4b;
    font-family: "Roboto";
  }
  #navItem3 {
    color: #323f4b;
    font-family: "Roboto";
  }
  #navItem4 {
    color: #323f4b;
    font-family: "Roboto";
  }